<section id="postco-plugin" data-pc-src="https://postco.com.my/plugins/v1/shopify" data-pc-api="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjo0LCJzaWduZWRfYXQiOiIyMDE2LTA4LTA5IDE3OjA4OjIzICswODAwIn0.IA1-M1texBHVb1pIVZvWjL36dRSFi0qiTt7XyPzJ-kU" data-pc-env="dev"></section>

{{ '//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js' | script_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js' | script_tag }}
{{ '//postco.com.my/plugins/v1/javascripts/shopify.min.js' | script_tag }}

{{ '//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css' | stylesheet_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.css' | stylesheet_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css' | stylesheet_tag }}
{{ '//file.myfontastic.com/zUbV4Ems2MSXDp23aeUkta/icons.css' | stylesheet_tag }}
{{ '//postco.com.my/plugins/v1/stylesheets/shopify.min.css' | stylesheet_tag }}
